@model FRIDGamE.Models.Publisher

@{
    ViewData["Title"] = "Details";
}

<h1>
    @Html.DisplayFor(model => model.PublisherName)
</h1>

<div>
    <h4>
        NIP: @Html.DisplayFor(model => model.NIP)
    </h4>
    <hr />
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edytuj</a>
    <a class="btn btn-outline-secondary" asp-action="Index">Powrót</a>
</div>
