@model FRIDGamE.Models.News

@{
    ViewData["Title"] = Model.Headline;
}

<h1>
    @Html.DisplayFor(model => model.Headline)
</h1>

<div>
    <h4>
        @Html.DisplayFor(model => model.AddDate)
    </h4>
    <hr />
    <div>
        @Html.DisplayFor(model => model.Content)
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
