@model IEnumerable<FRIDGamE.Models.News>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Aktualności</h1>
@if (Model is not null)
{
    @foreach (var item in Model)
    {
        @if (item.AddDate <= DateTime.Now)
        {
            <h2>
                <a class="border-white text-light" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Headline)</a>
            </h2>
        }
    }
}
