@model FRIDGamE.Models.Game

@{
    ViewData["Title"] = "Dodaj";
}

<h1>Dodaj</h1>

<h4>Grę</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameName" class="bg-dark text-light control-label"></label>
                <input asp-for="GameName" class="bg-dark text-light form-control" />
                <span asp-validation-for="GameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudioId" class="bg-dark text-light control-label"></label>
                <select asp-for="StudioId" class="bg-dark text-light form-control" asp-items="ViewBag.StudioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GamePublisherId" class="bg-dark text-light control-label"></label>
                <select asp-for="GamePublisherId" class="bg-dark text-light form-control" asp-items="ViewBag.GamePublisherId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="bg-dark text-light control-label"></label>
                <input asp-for="Description" class="bg-dark text-light form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegularPrice" class="bg-dark text-light control-label"></label>
                <input asp-for="RegularPrice" class="bg-dark text-light form-control" />
                <span asp-validation-for="RegularPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="bg-dark text-light control-label"></label>
                <input asp-for="ReleaseDate" class="bg-dark text-light form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-secondary" asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
